<template lang='pug'>
    v-app#app
</template>

<script>
export default {
  async mounted() {
  },
  computed: {
  },
  data: () => ({
  }),
  methods: {
    test() {
    }
  },
};
</script>
<style>
  p {
      margin: 0 !important;;
  }
</style>
