<template lang='pug'>
    v-app#app
      div(id='map' style="width: 100%; height: 50%;")
      v-container.mx-2.mt-1(fluid)
        v-row(align="start" justify="center" no-gutters)
          v-col(cols="6" class="font-weight-light" no-gutters)
            span.font-weight-light.display-1 Игроки {{ !server ? '' : ' - ' + server.players.length }}
            br
            v-list(two-line='' subheader='' v-if="server" class="row no-gutters px-5" dense)
              v-list-item(class="" v-for='(value, index) in server.players' :key='index' @click='moveTo(value)' class="col col-12 col-md-6 col-lg-4 ma-0 pa-1" dense)
                v-list-item-avatar(style="margin-bottom: 5px;margin-top: 5px;")
                  v-img(:src='value.avatar')
                v-list-item-content
                  v-list-item-title {{ value.displayName }}
                  v-list-item-subtitle {{ value.steamId }} - {{ Math.ceil(value.offset / 60) }} ч.
          v-col(cols="6"  no-gutters)

            v-row(no-gutters)
              v-col.pa-2(cols="12" lg="6" class="font-weight-light")
                span.font-weight-light.display-1 Что это?
                br
                | Сайт показывает географическое местоположение игроков на вашем сервере, данные обновляются в реальном времени

              v-col.pa-2(cols="12" lg="6" class="font-weight-light")
                span.font-weight-light.display-1 Зачем это?
                br
                | По большому счёту - 
                strong ради юмора.
                | Может помочь выбрать оптимальное время для вайпа, за счёт определения среднего часового пояса

            v-row(no-gutters)
              v-col.pa-2(cols="12" lg="6" class="font-weight-light")
                span.font-weight-light.display-1 И когда?
                br
                | Средний часовой пояс: 
                strong ~{{ middleOffset().middle }} часов (-а) от МСК
                br
                | Наиболее популярный часовой пояс:  
                strong ~{{ middleOffset().popular }} часов (-а) от МСК

              v-col.pa-2(cols="12" lg="6" class="font-weight-light")                
                span.font-weight-light.display-1 А ещё?
                br
                | Ещё - список игроков, по каждому можно нажать и переместиться к его положению

              v-col.pa-2(cols="12"  class="font-weight-light")                
                span.font-weight-light.display-1 Статистика
                br
                p.font-weight-light(v-if="backend.query >= 0" style='font-size: 18px') IP на обработке: 
                  strong {{ ' ' + backend.query + '. ' }}
                  | Сервер
                  strong {{ ' ' + backend.apiId }} / 2.
                  br
                  | Лимит: 
                  strong {{ ' ' + backend.limit }} запросов

            v-divider.mt-4.mb-2
                
            v-col(cols="12" no-gutters)
              p.font-weight-light.text-center.ma-0.pa-0 Разработано ради юмора за одну ночь, надеюсь, кто-нибудь посчитает это полезным, ну или хотя бы забавным
              v-row(align="center" justify="center")
                v-btn(text @click="redirect('https://vk.com/hougan')" style="text-decoration: none;")
                  v-icon(left style="color: #4a76a8") mdi-vk
                  span.font-weight-light Страница разработчика
                v-btn(text @click="redirect('https://telegram.me/hougan.yt')" style="text-decoration: none;")
                  v-icon(left style="color: #4a76a8") mdi-telegram
                  span.font-weight-light Телеграм разработчика
</template>

<script>
const script = require('@frontend/js/animated_line');

export default {
  async mounted() {
    // Ожидаем загрузки внешний либы, и только потом загружаем остальное
    ymaps.ready(['AnimatedLine']).then(() => {
      this.loadMap();
    });
  },
  computed: {
  },
  data: () => ({
    /** @type {(ymaps.Map|null)} */
    _map: null,

    /** @type {(null|ServerInterface)} */
    server: null,

    backend: {
      /** @type {number} */
      query: 0,
      /** @type {number} */
      apiId: 1,
      /** @type {number} */
      limit: 160
    }
  }),
  methods: {
    /** 
     * Переключить страницу
     * @param {string} uri
     */
    redirect(uri) {
      window.location.href = uri;
    },

    /**
     * Инициализация компонента карты
     */
    loadMap() {
      try {
        this._map = new ymaps.Map("map", {
                center: [65.100005, 88.340858],
                zoom: 3
            });
      }
      catch {
        setTimeout(() => this.loadMap(), 1000);
        return;
      }

      console.log('Карта инициализирована!');

      this.loadServer();
    },

    /**
     * Среднее смещение по серверу
     * @returns {any}
     */
    middleOffset() {
      const result = {
        middle: 0,
        /** @type {any} */
        popular: {}
      };

      if (!this.server) {
        return result;
      }

      this.server?.players.forEach(value => {
        const index = value.offset || 0;

        if (typeof result.popular[index] !== 'number') {
          result.popular[index] = 0;
        }
        result.popular[index] += 1;
      });

      const keys = Object.keys(result.popular);

      result.popular = keys
        .map(pop => { 
          result.middle += parseInt(result.popular[pop]) * parseInt(pop);

          return { key: keys[pop], value: result.popular[pop] };
        });

      const a = (result.popular.sort((a, b) => {
          const aVal = Object.values(a)[0];
          const bVal = Object.values(b)[0];

          return bVal - aVal;
        }));


      return {
        middle: Math.ceil(result.middle / this.server.players.length / 60),
        popular: a[0].key
      };
    },

    /**
     * Реакция на изменения
     * @param {number} action
     * @param {any} data
     */
    async reactChanges(action, data) {
      switch (action) {
        case -1: {
          const user = this.server.players.find(value => value.steamId == data.steamId);
          
          this.removeClient(user);
          break;
        }
        case 0: {
          this.server?.players.forEach(value => {
            this._map?.geoObjects.remove(value.marker);
            this._map?.geoObjects.remove(value.line)
          });

          this.server.players = []; 
          break;
        }
        case 1: {
          this.addClient(data);
          break;
        }
        default: {
          console.error('Unknown action', action, data);
          break;
        }
      }
    },

    /**
     * Переместить карту к игроку
     * @param {PlayerInfo} to
     */
    moveTo(to) {
      if (!to) {
        return;
      }

      this._map?.setCenter(to.coords, 5);
    },

    /**
     * Инициализация данных текущего сервера
     */
    async loadServer() {
      let pass = prompt('Введите пароль от сервера') || '1234';
      const request = { key: this.$route.params.key, pass: pass };

      /** @type {ServerInterface} */
      this.server = await webApi.emit('server get', /** @type {DefaultPacket} */ request);
      
      if (!this.server || typeof this.server === 'string') {
        alert(this.server || 'Unkown error!'); 
        return;
      }

      webApi.socket.on('server update', this.reactChanges);
      webApi.on('status update', this.statusUpdate);

      this.addServer();

      const dirtyList = this.server.players.map(object => ({ ...object }));
      this.server.players = [];

      dirtyList.forEach(value => this.addClient(value, false));
    },

    /** 
     * Обработка данных о состоянии АПИ
     * @param {any} data
     */
    statusUpdate(data) {
      this.backend = data;
    },

    /**
     * Добавить метку сервера на карту
     */
    addServer() {
      this._map?.geoObjects.add(new ymaps.Placemark(this.server?.coords, {}, {
        preset: 'islands#blueHomeCircleIcon',
        iconColor: '#ff7a7a',
        zIndex: 99999
      }));
      this._map?.setCenter(this.server?.coords, 3);
    },

    /**
     * Отрисовать линию
     * @param {PlayerInfo} player
     * @param {boolean} animate
     */
    lineFrom(player, animate = true) {
      player.line = new ymaps.AnimatedLine([player.coords, this.server.coords], {}, {
        strokeColor: "#99e090",
        // Задаем ширину линии.
        strokeWidth: 2,
        // Задаем длительность анимации.
        animationTime: animate ? 6000 : 0,
      });

      this._map?.geoObjects.add(player.line);

      player.line?.animate();
    },

    /**
     * Добавить клиента на карту
     * @param {PlayerInfo} player
     * @param {boolean} animate
     */
    addClient(player, animate = true) {
      if (!this._map || !player.coords) return;

      player.marker = new ymaps.Placemark(player.coords, {
        balloonContentBody: [
            '<address>',
            `<strong>${player.displayName}</strong>`,
            '<br/>',
            `${player.steamId}`,
            '<br/>',
            `Steam: <a href="https://steamcommunity.com/profiles/${player.steamId}">https://steamcommunity.com/profiles/${player.steamId}</a>`,
            '</address>'
        ].join('')
      }, {
        preset: 'islands#bluePersonCircleIcon',
        iconColor: '#85c7ed'
      });

      if (!player.marker) {
        return;
      }

      this.server?.players.unshift(player);
      this._map.geoObjects.add(player.marker);
      this.lineFrom(player, animate); 

      console.log(`${player.ip} | ${player.displayName} connected to the server!`);
    },

    /**
     * Удалить клиента с карты 
     * @param {PlayerInfo} player
     */
    removeClient(player) {
      if (!this._map || !player.marker) return;

      player.line?.rollback().then(() => {
        this._map?.geoObjects.remove(player.line);
        this._map?.geoObjects.remove(player.marker);
        player.marker = null;
        player.line = null;
      });

      this.server?.players.splice(this.server?.players.indexOf(player), 1);
      console.log(`${player.ip} | ${player.displayName} disconnected from server!`);
    }
  },
};
</script>
<style>
  p {
      margin: 0 !important;;
  }
</style>
