doctype html
head
	title Карта игроков сервера
	link(href="/assets/bundles/woff.css" rel="stylesheet")
	link(href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet")

	script(src="https://unpkg.com/axios/dist/axios.min.js")
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
body()
	#app

	script(src="/assets/bundles/main.js")
	script(src="/assets/bundles/runtime~main.js")
	script(src="/assets/bundles/vendors~main.js")